<footer>
    <span>
        © 2024-2024, InterNewer Inc. or its affiliates
    </span>
    <div class="social-medias">
        <a href="">
            <img src="/images/instagram_icon.png" width="35" height="35" alt="Link to Instagram">
        </a>
        <a href="">
            <img src="/images/facebook_icon.png" width="35" height="35" alt="Link to Facebook">
        </a>
        <a href="">
            <img src="/images/twitter_icon.png" width="35" height="35" alt="Link to Twitter">
        </a>
    </div>
</footer>

</div>
</body>

</html>