<%- include('./partials/header.ejs') %>  
    <div class="content">
        <h3 class="error-name"><%= error.status %> Error</h3> 
        <p class="error-message"><%= error.message %></p>
    </div>
<%- include('./partials/footer.ejs') %>  

