<%- include('./partials/header.ejs') %>  

    <div class="main-container">
        <div class="background">
            <div class="banner">
                <div class="shadow-box">
                    <h3>InterNewer – where preloved 
                        meets perfect for your home.</h3>
                </div>
                <div class="banner-img-container-1">
                    <img src="./images/index_banner.avif" class="banner-img" alt="banner_img">
                </div>
                <div class="banner-img-container-2">
                    <img src="./images/index_banner_2.avif" class="banner-img" alt="banner_img">
                </div>        
            </div>
            <div class="container-introduction">
                <p id="introduction">Revitalize Your Space, Reimagine Your Style: Where Every Piece Tells a Story. 
                    Welcome to InterNewer – Your Premier Destination for 
                    Preloved Furniture and Endless Interior Design Possibilities!</p>
                    <button type="button" class="btn-browse"><a href="/items">Browse Here</a></button>
            </div>
        </div>
    </div>
<%- include('./partials/footer.ejs')%>